:root {
  --grid-columns: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  height: 500px;
  width: 500px;
}

.grid-item {
  padding: 0.1em;
  border: 1px solid #ddd;
  text-align: center;
}

.background{
  background-color: black;
}

